.background{
    background-image: url(/src/app/images/nightsligo.png); 
    width: 100%;
    height: 700px;
}
.form{
    background-color: rgba(0,0,0,.5);
    width: 95%;
    height: 95%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    margin: auto;
}
.myform{
    margin: auto;
    width: 60%;
    padding: 60px 0;
}
h1{
    margin: auto;
    width: 60%;
    text-align: center;
    font-family: graffiti;
}
mat-form-field {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;    
    box-sizing: border-box;
  }
  input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;    
    box-sizing: border-box;
  }
  input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;    
    box-sizing: border-box;
  }
  button{
    margin: auto;
    width: 100%;
    border: 2px solid white;
    font-family: graffiti;
    font-size: 24px;
}
  mat-label{
    color: white;
    display: block;
    width: 150px;
    float: left;
    font-size: 48px;
    font-family: graffiti;
  }
