button{
    margin: 5px;
    border: 2px solid white;
    font-family: graffiti;
    font-size: 100%;
    color: white;
    text-align: center;
}
h1{
    font-family: graffiti;
    font-size: 32px;
    margin: auto;
}
mat-toolbar{
    //opacity: 0.5;
    font-family: graffiti;
    color: white;
}