#profile-img{
    float: left;
}
.user-info{
    vertical-align: top;
    display: inline-block;
    background: black;
    height: inherit;    
    width: 40%;
    padding: 1%;

    background-image: url(/src/app/images/bcklogo.png);
    background-position: center;
    background-repeat: no-repeat;
}
.info{
    float: left;
    display: block;
    width: 100%;
}
.feed {
  padding: 1%;
  float: right;
  display: block;
  width: 60%;
}
.eventfeed{
  background: black;
}
header{
    width: 100%;
    background: black;
}
#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.content{
    width: 100%;
    background: black;    
}
* {
    box-sizing: border-box;
  }
    .column {
    float: left;
  }
  
  .left {
    width: 50%;
    padding: .3em;    
  }  
  .right {
    width: 50%;  
    padding: .3em;      
  }
  h3{
    font-family: graffiti;
  }
  h1{
    font-family: graffiti;
  }
