<title>Sligo Sounds - Profile</title>

<div class="content">
    <mat-card class="form">
  <mat-card class="left">
    <h2 style="font-size:4.5vw;">Basic Info</h2>
        <mat-card-content id="profile-img"><img src="/src/app/images/no-photo.png"></mat-card-content>
        <mat-list-item style="font-size:1.5vw;">Email: {{user.email}}</mat-list-item>

        <mat-list-item style="font-size:1.5vw;">Name: {{user.username}}</mat-list-item>

        <mat-list-item style="font-size:1.5vw;">Username: {{user.artists}}</mat-list-item>

        <mat-list-item style="font-size:1.5vw;">Date Joined: {{user.date}}</mat-list-item><br>
        
        <h3 style="font-size:3.5vw;">Venues</h3>
        <mat-list-item style="font-size:1.5vw;">{{user.description}}</mat-list-item><br>

        <h3 style="font-size:3.5vw;">Acts</h3>
        <mat-list-item style="font-size:1.5vw;">{{user.venues}}</mat-list-item> 
  </mat-card>
      <mat-card class="right">
        <h1 style="font-size:3.5vw;">Upcoming Events</h1>
        <mat-card></mat-card>        
      </mat-card>
      </mat-card>
  </div>