<mat-divider></mat-divider>
  <mat-list-item>{{user.email}}</mat-list-item>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
  <mat-list-item>{{user.name}}</mat-list-item>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
  <mat-list-item>{{user.description}}</mat-list-item>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
  <mat-list-item>{{user.venueType}}</mat-list-item>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
  <mat-list-item>{{user.building}}</mat-list-item>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
  <mat-list-item>{{user.street}}</mat-list-item>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
  <mat-list-item>{{user.city}}</mat-list-item>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
  <mat-list-item>{{user.hours}}</mat-list-item>
<mat-divider></mat-divider>

